<?xml version="1.0" encoding="UTF-8"?>
<model>
  <name>isilab_launchpad</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ISILAB</name>
  </author>
  <description>Sân xuất phát trung tâm với logo ISILAB lớn bao quanh khu vực drone cất cánh</description>
</model>
